@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --accent-color: #B73E3E;
  --bg-accent-color: #FAFAFA;
  --bg-color: #e7e4e4;
}

*{
  box-sizing: border-box;
}

html{
  min-height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ===== Header Styles ===== */

header {
  min-height: 10em;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2em;
}

header * {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.logo {
  flex: 0 0 auto;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem; 
}

.nav-links li a:hover {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.right-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.right-links a {
  margin-left: 1rem;
}

.right-links a:hover {
  color: var(--accent-color);
}

/* ==== Layout Styles ==== */

.container{
  margin: 2em 0;
  display: flex;
  flex: 1;
  justify-content: center;
}

.bio-container{
  display: flex;
  background-color: var(--bg-color);
  max-width: 80%;  
}

.bio-container img{
  max-width: 50%;
  max-height: 100%;
}

.bio{
  flex: 1;
  padding: 2rem;
}

.bio-title{
  font-size: 1.8rem;
  text-align: center;
}

.bio-subtitle{
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 3px;
  color: var(--accent-color);
  margin-bottom: 2em;
}

.bio h2::after{
  content: '';
  display: block;
  height: 1px;
  width: 15em;
  background: #000;
  margin: 0.5rem auto;
  opacity: 0.5;
}

.bio p {
  font-size: 1rem;
  letter-spacing: 0.046rem;
  line-height: 1.5rem;
  text-align: justify;
  flex-wrap: wrap;
}

/* ==== Contact Styles ==== */

.form-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

.contact-title {
  font-size: 1.3em;
}

.form-img-container {
  max-width: 45%; 
}

.form-img-container img {
  width: 100%;
}

.email-form {
  width: 50%; 
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

form input, textarea {
  margin: 0.5em 0 2.5em;
  padding: 0.7em;
  background-color: var(--bg-accent-color);
  border: solid 1px grey;
}

form label {
  font-size: 1.1em;
}

.contact-btn{
  background-color: #fff;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  width: 7vw;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.contact-btn:hover {
  background-color: var(--accent-color);
  cursor: pointer;
  color: #fff;
}

/* ==== Footer Styles ==== */

footer{
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  margin: 0 2em;
  padding: 2em;
}
